.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores-list {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    height: 260px;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-bottom: 3%;
}

.contenidoPrincipal-cursos-link {
    display: flex;
    width: 23%;
}

.videoSobre .container {
    display: flex;
}

.videoSobre-sobre {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}

.videoSobre-video {
    flex-grow: 2;
    flex-shrink: 2;
}

.videoSobre-sobre-list {
    flex-grow: 2;
}

/* Responsive */
@media (max-width:768px) {

    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }

    .headerPrincipal-nav {
        flex-direction: column;
    }

    .contenidoPrincipal-cursos {
        flex-direction: row;
    }

    .contenidoPrincipal-cursos-link {
        width: 93%;
    }

    .rodapePrincipal-navMap-list {
        height: auto;
        flex-wrap: nowrap;
    }

    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list {
        width: 100%;
    }

    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .videoSobre .container {
        flex-direction: column;
    }

    .headerPrincipal-nav-link-app {
        order: -1;
    }

    .videoSobre-sobre {
        margin: 0;
        margin-top: 1rem;
    }

    .videoSobre-button {
        margin-top: 1rem;

    }
}